@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional Custom CSS Logic from previous Matchday Engine */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}